*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html, body{
    width: 100%;
    height: 100vh;
    background-color: rgb(46, 43, 43);
    font-family: 'Roboto', sans-serif;
 
}

.main-container{
    display: grid;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    width: 70%;
    background-color: rgb(211, 104, 4);
    border-radius: 10px;
    justify-content: center;
    margin-top: 100px;
}
h1{
    color: wheat;
    text-align: center;
    margin-top: 20px;
}
#todocontainer{
    display: grid;
    gap: 10px;
}

form{
    display: grid;
    width: 100%;
    height: 40px;
    grid-template-columns: 1fr 150px;
    gap: 10px;
    margin: 20px;
    
}
#todoinput{
    width: 100%;
    border: 1px solid brown;
    border-radius: 10px;
}
#addbutton{
    cursor: pointer;
    width: 80%;
    color: aliceblue;
    background-color: green;
    border: none;
    border-radius: 10px;
}

#addbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.arraycontainer{
    display: grid;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    grid-template-columns: 1fr 150px;
    justify-items: center;

}
.edit-delete{
    display: grid;
    justify-content: space-around;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.deletebutton {
    cursor: pointer;
    width: 100%;
    color: aliceblue;
    background-color: red;
    border: none;
    border-radius: 10px;
}
.deletebutton:active {
    background-color: #db0000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.editbutton {
    cursor: pointer;
    width: 100%;
    color: aliceblue;
    background-color: orange;
    border: none;
    border-radius: 10px;
}
.editbutton:active {
    background-color: #db7c00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.border_none{
    border: none;
    border-radius: 10px;
}

.background_color{
    background-color: aliceblue;
    border: none;
    width: 200px;
}


.outline{
    outline: none;
    width: 80%;
    
}